<h1>Orgs</h1>

<ul>
  {{#each model as |o|}}
		{{github-org 
			org=o
			on-fav-clicked='showFavoriteItems'}}
    
  {{/each}}

</ul>

{{social-info
		name="Nazar Isakov"
		github="isaaknazar"
		twitter="nazarisaak"
		on-links-toggle="linksToggled"}}

{{social-info
		name="Nazar Isakov"
		twitter="nazarisaak"}}		

{{outlet}}


